body {
  margin: 0;
  padding: 0;
}

#contact_modal {
  display: none;
}

.logo {
  margin-left: 35px;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  margin: 0 31px;
  background-color: #f0f2f8;
  width: 94%;
}

.info_photograph {
  margin: 0 20px;
  padding: 55px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.name {
  font-size: 38px;
  color: #D3573C;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.city_photographer {
  color: #901C1C;
  font-size: 24px;
}

.img_photographer {
  border-radius: 100px;
  border: 2px solid;
  margin: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  width: 180px;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.try_asset {
  margin: 10px 35px;
  font-size: 20px;
  font-weight: bold;
}

.menu_deroulant {
  position: absolute;
  background-color: #901C1C;
  list-style: none;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  display: inline-block;
  color: white;
  z-index: 1001;
}

.menu_deroulant a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

li {
  list-style: none;
}

.sous_menu {
  display: none;
  width: 115px;
}

.sous_menu a {
  color: white;
  padding: 15px;
  margin: 20px 26px 20px -45px;
  border-top: 1px solid white;
  display: block;
  width: 135%;
}

.menu_deroulant:hover .sous_menu {
  display: block;
  width: auto;
}

.popular i {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.dropdown:hover .popular i {
  -webkit-transform: rotate(-185deg);
          transform: rotate(-185deg);
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-top: 130px;
  margin-left: 50px;
}

.contact_button:hover {
  background: #DB8876;
}

.container_info {
  margin: 0 20px;
}

.container_gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-left: 40px;
  margin-top: 50px;
  height: 850px;
}

.asset_photographer {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin: 15px 0;
}

.info_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
}

.container_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 35px;
  width: 45px;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.title_media {
  color: #901C1C;
  font-size: 16px;
  font-weight: 400;
}

.number_like {
  color: #901C1C;
  font-weight: bold;
  font-size: 16px;
}

.like-icon {
  color: #901C1C;
  border: white;
  background-color: transparent;
  cursor: pointer;
}

.btn_like {
  border: none;
  background-color: transparent;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1001;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.lightbox.fadeout {
  opacity: 0;
}

.lightbox_next,
.lightbox_prev {
  background-color: transparent;
  color: #901C1C;
  border: none;
  font-size: 25px;
  position: fixed;
  top: 50%;
  left: 0;
  margin-top: -16px;
  z-index: 1002;
  width: 40px;
  height: 28px;
  cursor: pointer;
}

.lightbox_prev {
  left: auto;
  right: 0;
}

.lightbox_bloc {
  position: relative;
  width: 195%;
  top: 50px;
  background-color: transparent;
  color: #901C1C;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.container_lightbox img {
  max-width: 40%;
  height: auto;
}

.container_lightbox video {
  max-width: 50%;
  height: auto;
}

.container_lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -1300px;
  margin-left: 315px;
  position: relative;
  z-index: 1002;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 20px;
  margin: 0px 25px;
}

.modal header .contact_photo {
  font-size: 25px;
  font-weight: normal;
  margin: 0px 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 690px;
  margin: 50px;
}

form label {
  color: #312E2E;
  font-size: 26px;
  margin: -15px 17px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

form input {
  width: 90%;
  margin: 0px 17px;
  height: 45px;
  border: none;
  border-radius: 5px;
}

.text_control_message {
  width: 370px;
  height: 210px;
}

.send_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-top: -15px;
  margin-left: 19px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 10px;
  height: 60px;
  width: 376px;
  background-color: #db8876;
  font-size: 24px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 15;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.heart_foot {
  margin: 0;
}
/*# sourceMappingURL=photographer.css.map */