
#contact_modal {
    display: none;
}
.logo {
    margin-left: 35px;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin: 0 31px;
    background-color: #f0f2f8;
    width: 94%;
}

.info_photograph {
    margin: 0 20px;
    padding: 55px 10px;
    width: max-content;
}

.name {
    font-size: 38px;
    color: #D3573C;
    font-weight: 500;
    width: max-content;

}
.city_photographer {
    color: #901C1C;
    font-size: 24px;
}
.img_photographer {
    border-radius: 100px;
    border: 2px solid;
    margin: 65px;
    object-fit: cover;
    height: 180px;
    width: 180px;
}
//menu deroulant
.container_menu_deroulant {
    display: flex;
}
.try_asset {
    margin: 10px 35px;
    font-size: 20px;
    font-weight: bold;
}
 nav {
     width: 100%;
     margin: 0 auto;
     position: sticky;
     top: 0;
 }

 nav ul {
     list-style-type: none;
 }

 nav ul li {
     width: 25%;
     text-align: center;
 }
 nav ul::after{
     content: "";
     display: table;
     clear: both;
 }

 nav a {
     display: block;
     text-decoration: none;
     color: white;
     border-bottom: 2px solid transparent;
     padding: 10px 0;
 }

 nav a:hover {
     border-bottom: 2px solid;
 }
 .sous {
     display: none;
     background-color: white;
 }
 
 nav > ul li:hover .sous {
     display: block;
 }

 .sous {
     float: none;
     width: 100%;
     text-align: left;
 }

 .sous a {
     padding: 10px;
     border-bottom: none;
 }

 .sous a:hover {
     border-bottom: none;
     background-color: #901C1C;
 }
.menu_deroulant {
    margin: 0 50px;
}
.deroulant{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
 
}

.mini_deroulant {
    margin: 0 -11px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   padding: 11px;
   width: 170px;
height: 70px;
border: none;
background-color: #901C1C;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 130px;
    margin-left: 50px;
}

.container_info {
   margin: 0 20px;
}



//GALLERIE PHOTO*********************************

.container_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 40px;
  margin-top: 50px;
  height: 850px;
  
  
}
.asset_photographer {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin: 15px 0;
}

.info_media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -25px;
}
.container_like{
    display: flex;
    align-items: center;
    margin: 0 35px;
    width: 45px;
    justify-content: inherit;   
}

.title_media{
    color: #901C1C;
    font-size: 16px;
    font-weight: 400;

}

.number_like {
    color: #901C1C;
    font-weight: bold;
    font-size: 16px;
}

.fa-heart{
    color: #901C1C;

}

//*********************MODAL*******************************************
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

