
#contact_modal {
    display: none;
}


.photograph-header {
    display: flex;
    height: 300px;
    margin: 0 70px;
    background-color: #f0f2f8;
}

.info_photograph {
    margin: 0 20px;
    padding: 55px 10px;
    width: max-content;
}

.name {
    font-size: 38px;
    color: #D3573C;
    font-weight: 500;
    width: max-content;

}
.city_photographer {
    color: #901C1C;
    font-size: 24px;
}
.img_photographer {
    border-radius: 100px;
    border: 2px solid;
    margin: 55px 120px;
    object-fit: cover;
    height: 180px;
    width: 185px;
}

.container_menu_deroulant {
    display: flex;
}
.try_asset {
    margin: 10px 70px;
    font-size: 20px;
    font-weight: bold;
}

.menu_deroulant {
    margin: 0 50px;
}
.deroulant{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
 
}

.mini_deroulant {
    margin: 0 -11px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   padding: 11px;
   width: 170px;
height: 70px;
border: none;
background-color: #901C1C;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 200px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 130px;
    margin-left: 149px;
}

.container_info {
   margin: 0 20px;
}



//GALLERIE PHOTO*********************************

.container_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 70px;
  margin-top: 50px;
  
  
  
}

.img_gallery {
    width: 284px;
    height: 260px;
}
.asset_photographer {
    width: 350px;
    height: 300px;
    object-fit: cover;
}
.container_like{
    display: block;
}

//*********************MODAL*******************************************
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

