#contact_modal {
  display: none;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin: 0 70px;
  background-color: #f0f2f8;
}

.container_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info_photograph {
  margin: 0 20px;
  padding: 55px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.name {
  font-size: 44px;
  color: #D3573C;
}

.city_photographer {
  color: #901C1C;
  font-size: 24px;
}

.img_photographer {
  border-radius: 100px;
  border: 2px solid;
  margin: 55px 250px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 230px;
}

.container_menu_deroulant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_deroulant {
  margin: 0 50px;
}

.deroulant {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
}

.mini_deroulant {
  margin: 0 -11px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-top: 130px;
  margin-left: 250px;
}

.container_info {
  margin: 0 20px;
}

.container_gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-left: 70px;
  margin-top: 50px;
}

.img_gallery {
  width: 284px;
  height: 260px;
}

.container_like {
  display: block;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
/*# sourceMappingURL=photographer.css.map */