@import "libs/normalize.scss";
@import "photographer.scss";
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.nos_photographes{
  color: #901c1c;
  margin-right: 60px;
  font-size: 25px;
}

.logo {
  height: 40px;
  margin-left: 75px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 21px;
}

.photographer_section article img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 150px;
}

.photographer_section article h3 {
  font-size: 13px;
  margin-top: -15px;
  color: #d3573c;
}

.photographer_section article p {
  font-size: 12px;
  margin-top: -5px;
}

.photographer_section article span {
  font-size: 11px;
}

.day {
  font-size: 15px;
  margin: -16px 4px 29px 76px;
  font-weight: 100;
}

.tutu {
  background-color: #d3573c;
  padding: 10px;
}
#unique {
  color: blue;
}

.active {
  padding: 5rem;
  background-color: lightblue;
}
